[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alakazam"]
	path = alakazam
	url = https://bitbucket.org/kleinstein/alakazam
[submodule "scoper"]
	path = scoper
	url = https://bitbucket.org/kleinstein/scoper
[submodule "shazam"]
	path = shazam
	url = https://bitbucket.org/kleinstein/shazam
[submodule "tigger"]
	path = tigger
	url = https://bitbucket.org/kleinstein/tigger
